<p id="top"></p> <br>

# WEB SCRAPPING WITH BeautifulSoup


<ul>
    <li><a href="#1"> Line Plot </a></li>
    <li><a href="#2"> Scatter Plot </a></li>
    <li><a href="#3"> Bar Plot </a></li>
    <li><a href="#4"> Pie Plot </a></li>
    <li><a href="#5"> Bubble Plot </a></li>
    <li><a href="#6"> Histogram </a></li>
    <li><a href="#7"> Word Cloud </a></li>
    <li><a href="#8"> Box Plot </a></li>
    <li><a href="#9"> Scatter Plot Matrix </a></li>
    <li><a href="#10"> Inset Plot </a></li>
    <li><a href="#11"> 3D Scatter Plot </a></li>
    <li><a href="#12"> Multiple Subplots </a></li>
</ul>


I wrote this notebook while studying to get the IBM Data Analyst Certificate. That's why it is similar to the course resource.

<p id="1"></p> <br>

liste iÃ§in ref, sil sonra

In [1]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\asus\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\asus\anaconda3\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)

In [2]:
from bs4 import BeautifulSoup # for web scrapping
import requests # for downloading a web page

Beautiful Soup is a Python library for pulling data out of HTML and XML files, we will focus on HTML files. This is accomplished by representing the HTML as a set of objects with methods used to parse the HTML. We can navigate the HTML as a tree and/or filter out what we are looking for.

Consider the following HTML:

In [3]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

We can store it as a string in the variable HTML:

In [4]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

To parse a document, pass it into the <code>BeautifulSoup constructor</code>, the <code>BeautifulSoup object</code>, which represents the document as a nested data structure:

In [5]:
soup = BeautifulSoup(html, "html5lib")

First, the document is converted to Unicode, (similar to ASCII),  and HTML entities are converted to Unicode characters. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. The <code>BeautifulSoup</code> object can create other types of objects. In this lab, we will cover <code>BeautifulSoup</code> and <code>Tag</code> objects that for the purposes of this lab are identical, and <code>NavigableString</code> objects.


We can use the method <code>prettify()</code> to display the HTML in the nested structure:

In [6]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

## Tag

Let's say we want the  title of the page and the name of the top paid player we can use the <code>Tag</code>. The <code>Tag</code> object corresponds to an HTML tag in the original document, for example, the tag title.

In [7]:
tag_object = soup.title
print("Tag Object: ", tag_object)

Tag Object:  <title>Page Title</title>

we can see the tag type <code>bs4.element.Tag</code>

In [8]:
print("Tag Object Type: ",type(tag_object))

Tag Object Type:  <class 'bs4.element.Tag'>

If there is more than one <code>Tag</code>  with the same name, the first element with that <code>Tag</code> name is called, this corresponds to the most paid player:

In [9]:
tag_object = soup.h3
print(tag_object)

<h3><b id="boldest">Lebron James</b></h3>

Enclosed in the bold attribute <code>b</code>, it helps to use the tree representation. We can navigate down the tree using the child attribute to get the name.
As stated above the <code>Tag</code> object is a tree of objects we can access the child of the tag or navigate down the branch as follows:

In [10]:
tag_child = tag_object.b
print(tag_child)

<b id="boldest">Lebron James</b>

You can access the parent with the <code>parent</code>

In [11]:
parent_tag = tag_child.parent
print(parent_tag)

<h3><b id="boldest">Lebron James</b></h3>

tag_object parent is the <code>body</code> element.

In [12]:
print(tag_object.parent)

<body><h3><b id="boldest">Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body>

<code>tag_object</code> sibling is the <code>paragraph</code> element

In [13]:
sibling1 = tag_object.next_sibling
sibling1

In [14]:
sibling2 = sibling1.next_sibling
sibling2
# tag_object, sibling1, and sibling2 are siblings

#### HTML Attributes

If the tag has attributes, the tag <code>id="boldest"</code> has an attribute <code>id</code> whose value is <code>boldest</code>. You can access a tagâs attributes by treating the tag like a dictionary:

In [15]:
tag_child["id"]

'boldest'

You can access that dictionary directly as <code>attrs</code>:

In [16]:
tag_child.attrs

{'id': 'boldest'}

We can also obtain the content if the attribute of the <code>tag</code> using the Python <code>get()</code> method.

In [17]:
tag_child.get("id")

'boldest'

#### Navigable String

A string corresponds to a bit of text or content within a tag. Beautiful Soup uses the <code>NavigableString</code> class to contain this text. In our HTML we can obtain the name of the first player by extracting the sting of the <code>Tag</code> object <code>tag_child</code> as follows:

In [18]:
tag_string = tag_child.string
tag_string

'Lebron James'

In [19]:
type(tag_string)

bs4.element.NavigableString

A NavigableString is just like a Python string or Unicode string, to be more precise. The main difference is that it also supports some  <code>BeautifulSoup</code> features. We can covert it to string object in Python:

In [20]:
unicode_string = str(tag_string)
print(unicode_string)
print(type(unicode_string))

Lebron James
<class 'str'>

## Filter

Filters allow you to find complex patterns, the simplest filter is a string. In this section we will pass a string to a different filter method and Beautiful Soup will perform a match against that exact string.  Consider the following HTML of rocket launchs:

In [21]:
%%html
<table>
  <tr>
    <td id='flight' >Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
   </tr>
  <tr> 
    <td>1</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td>
    <td>80 kg</td>
  </tr>
</table>

Store it as a string and then convert beautiful soup object.

In [22]:
table="<table><tr><td id='flight'>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr> <td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida<a> </td><td>80 kg</td></tr></table>"

In [23]:
table_bs = BeautifulSoup(table, "html5lib")

### find_all()

The <code>find_all()</code> method looks through a tagâs descendants and retrieves all descendants that match your filters.

<p>
The Method signature for <code>find_all(name, attrs, recursive, string, limit, **kwargs)<c/ode>
</p>

#### Name (find_all)

When we set the <code>name</code> parameter to a tag name, the method will extract all the tags with that name and its children.

In [24]:
table_rows = table_bs.find_all("tr")
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>]

The result is a Python Iterable just like a list, each element is a <code>tag</code> object:

In [25]:
first_row = table_rows[0]
first_row

In [26]:
print(type(first_row))

<class 'bs4.element.Tag'>

We can obtain the child

In [27]:
first_row.td

If we iterate through the list, each element corresponds to a row in the table:

In [28]:
for i,row in enumerate(table_rows):
    print("row",i,"is",row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>
row 1 is <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>

As <code>row</code> is a <code>cell</code> object, we can apply the method <code>find_all</code> to it and extract table cells in the object <code>cells</code> using the tag <code>td</code>, this is all the children with the name <code>td</code>. The result is a list, each element corresponds to a cell and is a <code>Tag</code> object, we can iterate through this list as well. We can extract the content using the <code>string</code>  attribute.

In [29]:
for i,row in enumerate(table_rows):
    print("row", i)
    cell = row.find_all("td")
    for i, cell in enumerate(cell):
        print("column",i,"cell",cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>
column 2 cell <td>80 kg</td>

If we use a list we can match against any item in that list.

In [30]:
list_input = table_bs.find_all(name=["tr","td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td> <td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr> <td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a></a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a><a> </a></td>,
 <td>80 kg</td>]

#### Attributes (find_all)

If the argument is not recognized it will be turned into a filter on the tagâs attributes. For example the <code>id</code>  argument, Beautiful Soup will filter against each tagâs <code>id</code> attribute. For example, the first <code>td</code> elements have a value of <code>id</code> of <code>flight</code>, therefore we can filter based on that <code>id</code> value.

In [31]:
table_bs.find_all(id="flight")

We can find all the elements that have links to the Florida Wikipedia page:

In [32]:
list_input = table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

If we set the  <code>href</code> attribute to True, regardless of what the value is, the code finds all tags with <code>href</code> value:

In [33]:
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

#### String (find_all)

With string you can search for strings instead of tags, where we find all the elments with Florida:

In [34]:
table_bs.find_all(string="Florida")

['Florida', 'Florida']

### find()

The <code>find_all()</code> method scans the entire document looking for results, itâs if you are looking for one element you can use the <code>find()</code> method to find the first element in the document. Consider the following two table:

In [35]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

We store the HTML as a Python string and assign <code>two_tables</code> <br>
We create a <code>BeautifulSoup</code> object  <code>two_tables_bs</code>

In [36]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [37]:
two_tables_bs = BeautifulSoup(two_tables, 'html.parser')

In [38]:
# We can find the first table using the tag name table
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

We can filter on the class attribute to find the second table, but because class is a keyword in Python, we add an underscore.

In [39]:
two_tables_bs.find("table", class_="pizza")

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

## Downloading And Scraping The Contents Of A Web Page

Download url and create BeautifulSoup object:

In [40]:
url = "http://www.ibm.com"

In [41]:
data = requests.get(url).text

In [42]:
soup = BeautifulSoup(data, "html5lib")

#### Scraping all links:

In [43]:
for link in soup.find_all('a', href=True):
    print(link.get('href'))

https://www.ibm.com/uk/en

https://www.ibm.com/uk-en/products?lnk=hpmps_bupr_uken&lnk2=link
https://www.ibm.com/uk-en/industries?lnk=hpmps_buin_uken&lnk2=link
https://www.ibm.com/uk-en/artificial-intelligence?lnk=hpmps_buai_uken&lnk2=link
https://www.ibm.com/uk-en/automation?lnk=hpmps_buau_uken&lnk2=link
https://www.ibm.com/uk-en/blockchain?lnk=hpmps_bubc_uken&lnk2=link
https://www.ibm.com/uk-en/business-operations?lnk=hpmps_buop_uken&lnk2=link
https://www.ibm.com/uk-en/cloud?lnk=hpmps_bucl_uken&lnk2=link
https://www.ibm.com/uk-en/analytics?lnk=hpmps_buda_uken&lnk2=link
https://www.ibm.com/uk-en/it-infrastructure?lnk=hpmps_buit_uken&lnk2=link
https://www.ibm.com/uk-en/security?lnk=hpmps_buse_uken&lnk2=link
https://www.ibm.com/uk-en/supply-chain?lnk=hpmps_busc_uken&lnk2=link
https://www.ibm.com/uk-en/financing?lnk=hpmps_bufi_uken&lnk2=link
https://www.ibm.com/uk-en/products?lnk=hpmps_buall_uken&lnk2=link

https://www.ibm.com/uk-en/services/process?lnk=hpmsc_bups_uken&lnk2=link
https://www.ibm.com/services/ibmix/?lnk=hpmsc_budbs_uken&lnk2=link
https://www.ibm.com/uk-en/services/cloud?lnk=hpmsc_buhs?lnk=hpmsc_buhs_uken
https://www.ibm.com/uk-en/talent-management?lnk=hpmsc_buta_uken&lnk2=link
https://www.ibm.com/uk-en/services/applications?lnk=hpmsc_buas_uken&lnk2=link
https://www.ibm.com/uk-en/garage?lnk=hpmsc_buas_uken&lnk2=link
https://www.ibm.com/uk-en/security/services?lnk=hpmsc_buse_uken&lnk2=link
https://www.ibm.com/uk-en/services/technology-support?lnk=hpmsc_busv_uken&lnk2=link
https://www.ibm.com/uk-en/financing/solutions/it-services-financing?lnk=hpmsc_bufi_uken&lnk2=link
https://www.ibm.com/uk-en/services?lnk=hpmsc_buall_uken&lnk2=link

https://www.ibm.com/support/uk/en/?lnk=hpmls_busu_uken&lnk2=link
https://www.ibm.com/support/knowledgecenter/?lnk=hpmls_budc_uken&lnk2=link
https://developer.ibm.com/?lnk=hpmls_bude_uken&lnk2=link
https://www.ibm.com/training/?lnk=hpmls_butr_uken&lnk2=link
https://www.ibm.com/blogs/?lnk=hpmls_bure_uken&lnk2=link
https://www.ibm.com/cloud/learn?lnk=hpmls_buwi_uken&lnk2=link

https://www.ibm.com/partnerworld/public?lnk=hpmex_bupa_uken&lnk2=link
https://www.research.ibm.com/?lnk=hpmex_bure_uken&lnk2=link
https://www.ibm.com/uk-en/about?lnk=hpmex_buab_uken&lnk2=link
https://www.ibm.com/uk-en/impact/covid-19?lnk=hpmex_buco_uken&lnk2=link
https://www.ibm.com/sitemap/uk/en
https://www.ibm.com/cloud/go-hybrid/uk-en
https://newsroom.ibm.com/2021-02-16-IBM-Commits-To-Net-Zero-Greenhouse-Gas-Emissions-By-2030?lnk=hpv18nf1
https://uk.newsroom.ibm.com/
https://www.ibm.com/downloads/cas/RVXZZX3L
https://www.ibm.com/uk-en/marketing/events/
https://www.ibm.com/marketing/uk-en/this-is-ibm/t-rex
https://callforcode.org
/uk-en/products/offers-and-discounts
/uk-en/products/cloud-pak-for-security
/uk-en/products/spss-statistics
/uk-en/products/hosted-security-intelligence
/uk-en/cloud/aspera
https://developer.ibm.com/depmodels/cloud/?lnk=hpv18ct16
https://developer.ibm.com/technologies/artificial-intelligence?lnk=hpv18ct19
https://www.ibm.com/demos/?lnk=hpv18ct12
https://developer.ibm.com/?lnk=hpv18ct9
https://www.ibm.com/docs/en?lnk=hpv18ct14
https://www.redbooks.ibm.com/?lnk=ushpv18ct10
https://www.ibm.com/support/home/?lnk=hpv18ct11
https://www.ibm.com/training/?lnk=hpv18ct15
/cloud/hybrid?lnk=hpv18pt14
/cloud/learn/public-cloud?lnk=hpv18ct1
/watson?lnk=ushpv18pt17
/garage?lnk=hpv18pt13
/blockchain?lnk=hpv18pt4
https://www.ibm.com/thought-leadership/institute-business-value/?lnk=hpv18pt12
/analytics?lnk=hpv18pt1
/security?lnk=hpv18pt9
/financing?lnk=hpv18pt3
https://www.ibm.com/quantum-computing?lnk=hpv18pt16
/cloud/hybrid?lnk=hpv18ct20
/cloud/learn/public-cloud?lnk=hpv18ct1
/cloud/redhat?lnk=hpv18ct13
/watson?lnk=hpv18ct3
https://www.ibm.com/quantum-computing?lnk=hpv18ct18
/cloud/learn/kubernetes?lnk=hpv18ct8
/products/spss-statistics?lnk=ushpv18ct7
/blockchain?lnk=hpv18ct1
https://www.ibm.com/employment?lnk=hpv18ct2
https://www.ibm.com/case-studies/coca-cola-european-partners/?lnk=hpv18cs1
/case-studies/search?lnk=hpv18cs2
https://www.ibm.com/uk-en/products/?lnk=pr_uken
https://www.ibm.com/software/uk/info/trials/?lnk=STW_UK_HPF_THP_FT_TL&lnk2=goto_THP
https://www.ibm.com/uk-en/marketplace/collections/offers-and-discounts/?lnk=STW_UK_HPF_DISC_FT_TL&lnk2=goto_MPDISC
https://www.ibm.com/technologyservices/uk/en/?lnk=se_uken
https://www.ibm.com/uk-en/industries
https://www.ibm.com/ibm/clientcenter/london/index.shtml?lnk=cc_uken
https://www.ibm.com/case-studies
https://www.ibm.com/uk-en/financing
https://www.ibm.com/developerworks/?lnk=fif_uken
https://www.ibm.com/partnerworld/wps/servlet/ContentHandler/partnerworld-home?lnk=fif_uken
https://www.ibm.com/industries/uk/en/CSI/?lnk=fif-uken
https://www.ibm.com/easytools/runtime/hspx/prod/public/X0027/PortalX/page/pageTemplate?s=35c0b8da43bc4974b262b8f96d53fbf4&c=35c0b8da43bc4974b262b8f96d53fbf4?lnk=fif-uken
https://support.ibm.com?lnk=fwc_uken
https://www.ibm.com/partnerworld/wps/bplocator/search.jsp?lnk=fcw-uken
https://www.ibm.com/employment/uk-en/?lnk=mca_uken
https://www.ibm.com/press/uk/en/index.wss?lnk=fab_uken
https://www.ibm.com/investor/?lnk=fab_uken
https://www.ibm.org/?lnk=fab
https://www.ibm.com/ibm/uk/en/?lnk=fab_uken
https://www.ibm.com/data-responsibility/uk-en/brexit
https://www.ibm.com/uk-en/marketing/documents/
https://www.ibm.com/downloads/cas/EG7RMOMG
https://www.ibm.com/contact/uk/en/?lnk=flg-cont-uken
https://www.ibm.com/uk-en/privacy?lnk=flg-priv-uken
https://www.ibm.com/uk-en/legal?lnk=flg-tous-uken
https://www.ibm.com/able?lnk=flg-able-uken
#

#### Scraping all images:

In [44]:
for image in soup.find_all('img'):
    # print(image)
    print(image.get('src'))

//1.cms.s81c.com/sites/default/files/2021-06-07/Sustainability%20Bump.jpg
//1.cms.s81c.com/sites/default/files/2021-03-29/Events%20Hub%20Homepage_.jpg
//1.cms.s81c.com/sites/default/files/2021-06-07/thisistrex.jpg
//1.cms.s81c.com/sites/default/files/2021-04-15/call%20for%20code.png
//1.cms.s81c.com/sites/default/files/2021-04-06/cloud-pak-for-security-trial.png
//1.cms.s81c.com/sites/default/files/2021-04-06/SPSS-Statistics-23108-700x420.png
//1.cms.s81c.com/sites/default/files/2021-04-06/QRadar-on-Cloud-21400-700x420.png
//1.cms.s81c.com/sites/default/files/2021-04-06/Aspera-on-Cloud-19783-700x420.png

#### Scraping from HTML tables:

In [45]:
#The below url contains an html table with data about colors and color codes.
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check how many rows and columns are there in the color table.

Download url as text and create BeautifulSoup object:

In [46]:
data = requests.get(url).text
soup = BeautifulSoup(data, "html5lib")

In [47]:
#find a html table in the web page
table = soup.find('table') # in html table is represented by the tag <table>

In [48]:
#Get all rows from the table
for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td')  # in html a column is represented by the tag <td> 
    color_name = cols[2].string # store the value in column 3 as color_name
    color_code = cols[3].string # store the value in column 4 as color_code
    print('{}----->{}'.format(color_name,color_code))

Color Name----->None
lightsalmon----->#FFA07A
salmon----->#FA8072
darksalmon----->#E9967A
lightcoral----->#F08080
coral----->#FF7F50
tomato----->#FF6347
orangered----->#FF4500
gold----->#FFD700
orange----->#FFA500
darkorange----->#FF8C00
lightyellow----->#FFFFE0
lemonchiffon----->#FFFACD
papayawhip----->#FFEFD5
moccasin----->#FFE4B5
peachpuff----->#FFDAB9
palegoldenrod----->#EEE8AA
khaki----->#F0E68C
darkkhaki----->#BDB76B
yellow----->#FFFF00
lawngreen----->#7CFC00
chartreuse----->#7FFF00
limegreen----->#32CD32
lime----->#00FF00
forestgreen----->#228B22
green----->#008000
powderblue----->#B0E0E6
lightblue----->#ADD8E6
lightskyblue----->#87CEFA
skyblue----->#87CEEB
deepskyblue----->#00BFFF
lightsteelblue----->#B0C4DE
dodgerblue----->#1E90FF

#### Scraping data from HTML tables into a dataFrame with BeautifulSoup and Pandas

In [49]:
import pandas as pd

In [50]:
#The below url contains html tables with data about world population.
url = "https://en.wikipedia.org/wiki/World_population"

Before proceeding to scrape a web site, you need to examine the contents, and the way data is organized on the website. Open the above url in your browser and check the tables on the webpage.

In [51]:
data = requests.get(url).text
soup = BeautifulSoup(data, "html5lib")

In [52]:
tables = soup.find_all('table')

In [53]:
len(tables)

26

Assume that we are looking for the `10 most densely populated countries` table, we can look through the tables list and find the right one we are look for based on the data in each table or we can search for the table name if it is in the table but this option might not always work.

In [54]:
for index,table in enumerate(tables):
    if ("10 most densely populated countries" in str(table)):
        table_index = index
print(table_index)

5

See if you can locate the table name of the table, 10 most densely populated countries, below.

In [55]:
print(tables[table_index].prettify())

<table class="wikitable sortable" style="text-align:right">
 <caption>
  10 most densely populated countries
  <small>
   (with population above 5 million)
  </small>
 </caption>
 <tbody>
  <tr>
   <th>
    Rank
   </th>
   <th>
    Country
   </th>
   <th>
    Population
   </th>
   <th>
    Area
    <br/>
    <small>
     (km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
   <th>
    Density
    <br/>
    <small>
     (pop/km
     <sup>
      2
     </sup>
     )
    </small>
   </th>
  </tr>
  <tr>
   <td>
    1
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="3456" data-file-width="5184" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/23px-Flag_of_Singapore.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/35px-Flag_of_Singapore.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/4/48/Flag_of_Singapore.svg/45px-Flag_of_Singapore.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Singapore" title="Singapore">
     Singapore
    </a>
   </td>
   <td>
    5,704,000
   </td>
   <td>
    710
   </td>
   <td>
    8,033
   </td>
  </tr>
  <tr>
   <td>
    2
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/23px-Flag_of_Bangladesh.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/35px-Flag_of_Bangladesh.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Flag_of_Bangladesh.svg/46px-Flag_of_Bangladesh.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Bangladesh" title="Bangladesh">
     Bangladesh
    </a>
   </td>
   <td>
    171,060,000
   </td>
   <td>
    143,998
   </td>
   <td>
    1,188
   </td>
  </tr>
  <tr>
   <td>
    3
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/23px-Flag_of_Lebanon.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/35px-Flag_of_Lebanon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/59/Flag_of_Lebanon.svg/45px-Flag_of_Lebanon.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Lebanon" title="Lebanon">
     Lebanon
    </a>
   </td>
   <td>
    6,856,000
   </td>
   <td>
    10,452
   </td>
   <td>
    656
   </td>
  </tr>
  <tr>
   <td>
    4
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/23px-Flag_of_the_Republic_of_China.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/35px-Flag_of_the_Republic_of_China.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Flag_of_the_Republic_of_China.svg/45px-Flag_of_the_Republic_of_China.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Taiwan" title="Taiwan">
     Taiwan
    </a>
   </td>
   <td>
    23,604,000
   </td>
   <td>
    36,193
   </td>
   <td>
    652
   </td>
  </tr>
  <tr>
   <td>
    5
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/23px-Flag_of_South_Korea.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/35px-Flag_of_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/09/Flag_of_South_Korea.svg/45px-Flag_of_South_Korea.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/South_Korea" title="South Korea">
     South Korea
    </a>
   </td>
   <td>
    51,781,000
   </td>
   <td>
    99,538
   </td>
   <td>
    520
   </td>
  </tr>
  <tr>
   <td>
    6
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="720" data-file-width="1080" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/23px-Flag_of_Rwanda.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/35px-Flag_of_Rwanda.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/1/17/Flag_of_Rwanda.svg/45px-Flag_of_Rwanda.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Rwanda" title="Rwanda">
     Rwanda
    </a>
   </td>
   <td>
    12,374,000
   </td>
   <td>
    26,338
   </td>
   <td>
    470
   </td>
  </tr>
  <tr>
   <td>
    7
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="1000" decoding="async" height="14" src="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/23px-Flag_of_Haiti.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/35px-Flag_of_Haiti.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/5/56/Flag_of_Haiti.svg/46px-Flag_of_Haiti.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Haiti" title="Haiti">
     Haiti
    </a>
   </td>
   <td>
    11,578,000
   </td>
   <td>
    27,065
   </td>
   <td>
    428
   </td>
  </tr>
  <tr>
   <td>
    8
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="600" data-file-width="900" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/23px-Flag_of_the_Netherlands.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/35px-Flag_of_the_Netherlands.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/2/20/Flag_of_the_Netherlands.svg/45px-Flag_of_the_Netherlands.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/Netherlands" title="Netherlands">
     Netherlands
    </a>
   </td>
   <td>
    17,620,000
   </td>
   <td>
    41,526
   </td>
   <td>
    424
   </td>
  </tr>
  <tr>
   <td>
    9
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="800" data-file-width="1100" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/21px-Flag_of_Israel.svg.png" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/32px-Flag_of_Israel.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Flag_of_Israel.svg/41px-Flag_of_Israel.svg.png 2x" width="21"/>
    </span>
    <a href="/wiki/Israel" title="Israel">
     Israel
    </a>
   </td>
   <td>
    9,380,000
   </td>
   <td>
    22,072
   </td>
   <td>
    425
   </td>
  </tr>
  <tr>
   <td>
    10
   </td>
   <td align="left">
    <span class="flagicon">
     <img alt="" class="thumbborder" data-file-height="900" data-file-width="1350" decoding="async" height="15" src="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/35px-Flag_of_India.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/45px-Flag_of_India.svg.png 2x" width="23"/>
    </span>
    <a href="/wiki/India" title="India">
     India
    </a>
   </td>
   <td>
    1,379,740,000
   </td>
   <td>
    3,287,240
   </td>
   <td>
    420
   </td>
  </tr>
 </tbody>
</table>

In [56]:
# creating dataFrame with pandas

population_data = pd.DataFrame(columns=["Rank", "Country", "Population", "Area","Density"])

for row in tables[table_index].find_all('tr'):
    col = row.find_all('td')
    if col != []:
        rank = col[0].text
        country = col[1].text
        population = col[2].text.strip()
        area = col[3].text.strip()
        density = col[4].text.strip()
        population_data = population_data.append({"Rank":rank, "Country":country, "Population":population, "Area":area,"Density":density}, ignore_index=True)
population_data

  Rank       Country     Population       Area Density
0    1    Â Singapore      5,704,000        710   8,033
1    2   Â Bangladesh    171,060,000    143,998   1,188
2    3      Â Lebanon      6,856,000     10,452     656
3    4       Â Taiwan     23,604,000     36,193     652
4    5  Â South Korea     51,781,000     99,538     520
5    6       Â Rwanda     12,374,000     26,338     470
6    7        Â Haiti     11,578,000     27,065     428
7    8  Â Netherlands     17,620,000     41,526     424
8    9       Â Israel      9,380,000     22,072     425
9   10        Â India  1,379,740,000  3,287,240     420

#### Scraping data from HTML tables into a DataFrame using BeautifulSoup and read_html

We can now use the `pandas` function `read_html` and give it the string version of the table as well as the `flavor` which is the parsing engine `bs4`.

In [57]:
pd.read_html(str(tables[table_index]), flavor="bs4")

[   Rank      Country  Population  Area(km2)  Density(pop/km2)
 0     1    Singapore     5704000        710              8033
 1     2   Bangladesh   171060000     143998              1188
 2     3      Lebanon     6856000      10452               656
 3     4       Taiwan    23604000      36193               652
 4     5  South Korea    51781000      99538               520
 5     6       Rwanda    12374000      26338               470
 6     7        Haiti    11578000      27065               428
 7     8  Netherlands    17620000      41526               424
 8     9       Israel     9380000      22072               425
 9    10        India  1379740000    3287240               420]

The function `read_html` always returns a list of DataFrames so we must pick the one we want out of the list.

In [58]:
population_data_read_html = pd.read_html(str(tables[5]), flavor='bs4')[0]

population_data_read_html

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171060000     143998              1188
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17620000      41526               424
8     9       Israel     9380000      22072               425
9    10        India  1379740000    3287240               420

#### Scrape data from HTML tables into a DataFrame using read_html

We can also use the `read_html` function to directly get DataFrames from a `url`.

In [59]:
dataframe_list = pd.read_html(url, flavor='bs4')
len(dataframe_list)

26

In [60]:
dataframe_list[5]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171060000     143998              1188
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17620000      41526               424
8     9       Israel     9380000      22072               425
9    10        India  1379740000    3287240               420

We can also use the `match` parameter to select the specific table we want. If the table contains a string matching the text it will be read.

In [61]:
pd.read_html(url, match="10 most densely populated countries", flavor="bs4")[0]

   Rank      Country  Population  Area(km2)  Density(pop/km2)
0     1    Singapore     5704000        710              8033
1     2   Bangladesh   171070000     143998              1188
2     3      Lebanon     6856000      10452               656
3     4       Taiwan    23604000      36193               652
4     5  South Korea    51781000      99538               520
5     6       Rwanda    12374000      26338               470
6     7        Haiti    11578000      27065               428
7     8  Netherlands    17620000      41526               424
8     9       Israel     9380000      22072               425
9    10        India  1379820000    3287240               420

<p><a href="#top">This link goes to the top</a></p>